@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Inter:wght@400;700&display=swap');

[data-theme="light"] {
  color: #1d1d1f;
}

html {
  font-family: "Inter";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] .header {
  background-color: rgba(246,246,246,0.8);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.16);
}

[data-theme="light"] .btn-primary {
  color: #fff;
}

.header {
  backdrop-filter: saturate(1.8) blur(20px);
  width: 100vw;
}

.content-width {
  width: 578px;
  max-width: calc(100% - 2rem);
}

.all-width {
  width: 1203px;
  max-width: calc(100% - 2rem);
}

.start-banner {
  background-position: top;
  background-size: cover;
}

h1,h2 {
  font-family: "Inter Tight";
  line-height: 0.95em;
}

h3 {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  scrollbar-width: inherit;
}

.card.image-full::before {
  opacity: 0;
}
.masked-overflow-y {
  /* If content exceeds height of container, overflow! */
  overflow-y: auto;

  /* The CSS mask */

  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(
      to right,
      transparent,
      black 3rem,
      black calc(100% - 3rem),
      transparent
  );

  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(black, black);

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content);
  mask-size: var(--mask-size-content);

  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}