@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Inter:wght@400;700&display=swap');

[data-theme="light"] {
  color: #1d1d1f;
}

html {
  font-family: "Inter";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] .header {
  background-color: rgba(246,246,246,0.66);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.16);
}

.header {
  backdrop-filter: saturate(1.8) blur(20px);
  width: 100vw;
}

.content-width {
  width: 578px;
  max-width: calc(100% - 2rem);
}

.all-width {
  width: 1203px;
  max-width: calc(100% - 2rem);
}

.start-banner {
  background-position: top;
  background-size: cover;
}

h1,h2 {
  font-family: "Inter Tight";
  line-height: 0.8em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
